{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="content">
      <h1>Scan QR Code</h1>
      <form action="{% url 'capture-qr' %}" method="GET">
         {% csrf_token %}
         <input type="submit" value="Start QR Scanner">
      </form>
      <br>
      <h2>Result:</h2>
      {% if qr_result %}
         <form method="POST">
            <textarea readonly>{{qr_result}}</textarea>
            <button type="submit">Submit</button>
         </form>
      {% endif %}
    </div>
{% endblock %}