<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reservar</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/reservar.css">
<script>
    $(document).ready(function() {
        $('#id_tipo_servicio').change(function() {
            var tipoServicio = $(this).val();
            if (tipoServicio == 'Grabacion') {
                $('#grabacionFields').show();
                $('#entregaFields').hide();
            } else if (tipoServicio == 'Entrega') {
                $('#grabacionFields').hide();
                $('#entregaFields').show();
            }
        });
    });
</script>
</head>
<body>

<div class="container">
    <h2>Formulario de Reserva</h2>
    <form method="post">
        {% csrf_token %}
        {{ reserva_form.as_p }}

        <div id="grabacionFields" style="display: none;">
            <h3>Detalles de Grabación</h3>
            {{ grabacion_form.as_p }}
        </div>

        <div id="entregaFields" style="display: none;">
            <h3>Detalles de Entrega</h3>
            {{ entrega_form.as_p }}
        </div>

        <input type="submit" value="Reservar">
    </form>
</div>

</body>
</html>
