@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poetsen+One&display=swap');

*{
    font-family: "Comic Neue", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
}

body{
    background-color: rgba(188, 226, 231, 0.765);
    min-height: 100vh;
}

.container-menu{
    display: flex;
}

.sidebar{
    background: rgb(27,92,136);
    background: linear-gradient(350deg, rgba(27,92,136,1) 0%, rgba(62,169,209,1) 50%, rgba(27,92,136,1) 100%);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 230px;
    position: fixed;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.25);
}

.logo{
    display: flex;
    justify-content: center;
    padding: 8px 8px 12px 8px;
}

.logo img{
    height: 130px;
    width: 130px;
}

.logo img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.item{
   list-style: none;
   padding: 6%;
}

.item a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s ease;
}

.item a:hover{
    font-size: 22px;
}

.auth-menu{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 230px;
    height: 100vh;
    align-items: center;
}

.content img{
    width: 800px;
    height: 600px;
}

.itemU{
    list-style: none;
    padding: 6%;
 }

 .itemU p{
    color: #fff;
    text-transform: uppercase;
 }

.sidebar .menu .item a.active {
    font-size: 22px; /* Cambiar el color del texto del enlace activo */
}