/* styles.css */

.container2 {
    width: 35%; /* Ancho del cuadro del formulario */
    background: rgb(27,92,136);
    background: linear-gradient(350deg, rgba(27,92,136,1) 0%, rgba(62,169,209,1) 50%, rgba(27,92,136,1) 100%);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(27,92,136,1); /* Sombra para resaltar el cuadro */
    flex-direction: column; /* Apilar los elementos verticalmente */
}

h2 {
    color: whitesmoke;
    text-align: center; /* Centrar el título */
    margin-top: -50px; /* Mover el título hacia arriba */
    position: relative; /* Habilitar posicionamiento relativo */
    margin-bottom: 20px;
    font-size: x-large;


}

h3 {
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;

}

form {
    margin-top: 20px; /* Espacio entre el título y el formulario */
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="select"], select{
    border-radius: 5px; /* Añadir radio de borde */
    width: 50%; /* Ancho completo */
    margin-bottom: 10px; /* Espacio entre campos */
    height: 20px;
    padding-left: 10px;
    font-size: small;
}

p {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 8px;
    color: white
}

input[type="submit"] {
    background-color: #96d5de;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Alinear el botón al centro */
    margin: 20px auto; /* Centrar el botón horizontalmente */
}

input[type="submit"]:hover {
    background-color: #0c9a9a;
}
